.thumbnail img {
    width: 100%; 
}

.thumbnail {
    padding: 0; 
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-from {
    display: inline;
}

.flexwrap {
    display: flex; 
    flex-wrap: wrap;
}

.avatar {
    margin: .5em auto; 
    border-radius: 50%; 
}
.avatar.sm {
    height: 2.5em;
    width: 2.5em;
}
.avatar.lg {
    height: 10em;
    width: 10em;
}

#moreinfo {
    margin-bottom: 9px; 
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

